.footer {
  width: 100vw;
  background: var(--secondary-gradient);
  color: var(--white);
  padding: 2.5rem 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  background: linear-gradient(
    45deg,
    var(--primary-color-dark),
    var(--primary-color-950)
  );
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1 1 250px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.logoName {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.col h3 {
  margin-bottom: 1rem;
}

.col p {
  max-width: 300px;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

ul li a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

ul li a:hover {
  color: var(--gray-500);
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--glass-color);
  border-radius: 100%;
  font-size: 1.2rem;
  color: var(--white);
  transition: all 0.25s ease-in-out;
}

.socials a:hover {
  background: var(--glass-hover);
  border: 1px solid var(--glass-border);
}

.bottom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: var(--gray-500);
}

@media (max-width: 590px) {
  .top {
    flex-direction: column;
    align-items: center;
  }
  
  .col {
    flex: 0;
    width: 100%;
  }
.col p {
    width: 100vw;
  }
  .col ul {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .top {
    justify-items: center;
  }

}