.hero {
  height: 100vh;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  max-width: 10rem;
  line-height: 1;
}

.subtitle {
  text-align: center;
  max-width: 100%;
  line-height: 1.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 2rem 0;
  width: 100%;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  p {
    max-width: 768px;
  }

  .buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 768px;
  }

  .primaryButton,
  .secundaryButton {
    min-width: fit-content;
    width: 50%;
  }

  .stats {
  font-size: 1.25rem;
}
}