.main {
  width: 100%;
  background: var(--primary-gradient);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

/* Gerais */
.features,
.tutorial,
.feedbacks,
.cta {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features,
.tutorial,
.feedbacks {
  padding-bottom: 7.5rem;
}
h1,
h2,
h3,
.featuresTitle,
.tutorialTitle,
.feedbacksTitle,
.ctaTitle {
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}
.featuresSubtitle,
.tutorialSubtitle,
.feedbacksSubtitle,
.ctaSubtitle,
.heroSubtitle {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 100%;
  line-height: 1.5;
}

/* Hero */

/* Lista genérica (Features, Tutorial, Feedbacks) */
.featureList,
.tutorialSteps,
.feedbackList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

/* Cards padrão */
.featureItem,
.feedbackItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--glass-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
}
.featureItem:hover,
.feedbackItem:hover {
  background: var(--glass-hover);
}
.featureItem h3,
.tutorialStep h3 {
  margin-top: 1rem;
}
.featureIcon {
  font-size: 3rem;
  padding: 0.75rem;
  background: var(--secundary-gradient);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.featureItem:hover .featureIcon {
  scale: 1.05;
}
.feedbackIcon {
  font-size: 2.5rem;
  padding: 0.5rem;
  background: var(--secundary-gradient);
  border-radius: 100%;
}
.featureItem p,
.tutorialStep p {
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--gray-200);
}
.tutorialStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stepNumber {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secundary-gradient);
  border-radius: 100%;
  margin-top: 1rem;
}
.tutorialStep p {
  max-width: 20rem;
}
.feedbackItem {
  gap: 1rem;
}
.feedbackItem p {
  font-size: 0.7rem;
}
.feedbackUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 1.5;
}
.feedbackUser strong {
  font-size: 0.7rem;
}
.feedbackUser p {
  font-size: 0.7rem;
}
.footerStamps {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  color: var(--gray-500);
}
.footerStamps div {
  display: flex;
  gap: .25rem;
  align-items: center;
  text-align: center;
}