.main {
  width: 100%;
  background: var(--primary-gradient);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/* Gerais */
.hero,
.features,
.tutorial,
.feedbacks,
.cta {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  height: 100vh;
}
.features,
.tutorial,
.feedbacks {
  padding-bottom: 7.5rem;
}
h1,
h2,
h3,
.featuresTitle,
.tutorialTitle,
.feedbacksTitle,
.ctaTitle {
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}
.featuresSubtitle,
.tutorialSubtitle,
.feedbacksSubtitle,
.ctaSubtitle,
.heroSubtitle {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 100%;
  line-height: 1.5;
}

/* Botões padrão */
.start,
.more {
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
}
.start {
  background: var(--secundary-gradient);
}
.start:hover {
  scale: 1.025;
  border-color: rgba(255, 255, 255, 0.5);
}
.more {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.more:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Hero */
.logoHero {
  font-size: 2.5rem;
  background: var(--secundary-gradient);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  line-height: 0;
  rotate: 5deg;
  position: relative;
}
.hero .FiDollarSign {
  font-size: 1.5rem;
  padding: 0.25rem;
  color: var(--primary-color-950);
  position: absolute;
  bottom: 80%;
  left: 80%;
  background: var(--yellow-500);
  border-radius: 100%;
}
.heroTitle {
  font-size: 2.5rem;
  text-align: center;
  max-width: 10rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
.hero .BiRightArrowAlt {
  font-size: 1.25rem;
}
.stats {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statsItem strong {
  letter-spacing: 0.1rem;
}
.statsItem p {
  font-size: 0.55rem;
  color: var(--gray-500);
}

/* Lista genérica (Features, Tutorial, Feedbacks) */
.featureList,
.tutorialSteps,
.feedbackList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

/* Cards padrão */
.featureItem,
.feedbackItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.featureItem:hover,
.feedbackItem:hover {
  background: rgba(255, 255, 255, 0.25);
}
.featureItem h3,
.tutorialStep h3 {
  margin-top: 1rem;
}

.featureIcon {
  font-size: 3rem;
  padding: 0.75rem;
  background: var(--secundary-gradient);
  border-radius: 0.5rem;
}
.feedbackIcon {
  font-size: 2.5rem;
  padding: 0.5rem;
  background: var(--secundary-gradient);
  border-radius: 100%;
}
.featureItem p,
.tutorialStep p {
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--gray-200);
}
.tutorialStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stepNumber {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secundary-gradient);
  border-radius: 100%;
  margin-top: 1rem;
}
.tutorialStep p {
  max-width: 20rem;
}
.feedbackItem {
  gap: 1rem;
}
.feedbackItem p {
  font-size: 0.7rem;
}
.feedbackUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  line-height: 1.5;
}
.feedbackUser strong {
  font-size: 0.7rem;
}
.feedbackUser p {
  font-size: 0.7rem;
}
.footerStamps {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  color: var(--gray-500);
}
.footerStamps div {
  display: flex;
  gap: .25rem;
  align-items: center;
  text-align: center;
}