.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--primary-gradient);
  color: var(--primary-color-dark);
  overflow: hidden;
}

.mainContent {
  flex: 1;
  flex-direction: collumn;
  overflow-y: auto;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
}

.error {
  color: red;
  text-align: center;
}
