.header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color-950);
}

.type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: var(--primary-color-800);
}

.logoutButton {
  padding: 0.5rem 1rem;
  background: var(--secundary-gradient);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.logoutButton:hover {
  background: var(--secundary-gradient-light);
}
