.header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.userInfo {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color-950);
}

.type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: var(--primary-color-800);
}

.logoutButton {
  color: red;
  cursor: pointer;
  padding: .5rem;
}

.logoutButton:hover {
  color: darkred;
}
