* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color-100: #DFF2FE;
  --primary-color-200: #B8E6FE;
  --primary-color-300: #73D4FF;
  --primary-color-400: #00BCFF;
  --primary-color-500: #00A6F4;
  --primary-color-600: #0088D1;
  --primary-color-700: #0069A8;
  --primary-color-800: #004A70;
  --primary-color-900: #002F4A;
  --primary-color-950: #001F33;

  --glass-color: rgba(255, 255, 255, 0.1);
  --glass-hover: rgba(255, 255, 255, 0.175);
  --glass-border: rgba(255, 255, 255, 0.25);
  --glass-border-hover: rgba(255, 255, 255, 0.5);
  
  --yellow-500: #FBBF24;

  --white: #ffffff;

  --black: #000000;

  --gray-200: #ebebeb;
  --gray-500: #d3d3d3;
  --gray-300: #a9a9a9;

  --primary-gradient: linear-gradient(45deg, var(--primary-color-950) 0%, var(--primary-color-900) 100%);
  --primary-gradient-light: linear-gradient(45deg, var(--primary-color-700) 0%, var(--primary-color-800) 100%);
  --secundary-gradient: linear-gradient(90deg, var(--primary-color-400) 25%, var(--primary-color-600) 100%);
  --secundary-gradient-light: linear-gradient(90deg, var(--primary-color-300) 25%, var(--primary-color-500) 100%);
  
  --text-xxlg: 3.5rem;
  --text-xlg: 3rem;
  --text-lg: 2.5rem;
  --text-md: 2rem;
  --text-sm: .75rem;
  --text-xsm: .5rem;

  
}